:root {
    --icon-external-link: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"> <g style="stroke:rgb(35,82,124);stroke-width:1"> <line x1="5" y1="5" x2="5" y2="14" /> <line x1="14" y1="9" x2="14" y2="14" /> <line x1="5" y1="14" x2="14" y2="14" /> <line x1="5" y1="5" x2="9" y2="5"  /> <line x1="10" y1="2" x2="17" y2="2"  /> <line x1="17" y1="2" x2="17" y2="9" /> <line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /></g></svg>');
}

#ahsc-service-error {
    background: rgba(208, 2, 27, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(63, 63, 68, 0.25), inset 0 3px 0 0 #d0021b;
    box-shadow: 0 1px 2px 0 rgba(63, 63, 68, 0.25), inset 0 3px 0 0 #d0021b;
}

#ahsc-service-warning {
    background: rgba(245, 166, 35, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(63, 63, 68, 0.25), inset 0 3px 0 0 #f5a623;
    box-shadow: 0 1px 2px 0 rgba(63, 63, 68, 0.25), inset 0 3px 0 0 #f5a623;
}

#ahsc-service-error,
#ahsc-service-warning {
    border: none;
    margin: 15px 0;
    padding: 15px;
}

#ahsc-service-error a,
#ahsc-service-warning a {
    text-decoration: none;
    font-weight: 500;
}

#ahsc-service-error a::after,
#ahsc-service-warning a::after {
    content: "";
    background: no-repeat var(--icon-external-link);
    padding-right: 1em;
}
