<div class='color-controls section generic-table-colors'>
	<h4>Rows Background Color</h4>
	<label for="rows-bg-color" class='color-preview'></label>
	<input type="text" data-type="" data-target-type="rows" name='rows-bg-color' class='color-control' value=''>
	<hr />
	<h4>Stiped Background Color</h4>
	<label for="striped-bg-color" class='color-preview'></label>
	<input type="text" data-type="" data-target-type="striped" name='striped-bg-color' class='color-control' value=''>
	<hr />
	<h4>Header Background Color</h4>
	<label for="header-bg-color" class='color-preview'></label>
	<input type="text" data-type="" data-target-type="header" name='header-bg-color' class='color-control' value=''>
</div>
