<div class='color-controls generic-table-borders'>
	<h4>Table Borders</h4>
    <% _.each( borderTypes, function ( borderType, index ) { %>
        <div class="border-control-container<%=( 0 === index ? '' : ' collapsed') %>" data-border-type="<%=borderType.name %>" data-control-name="tableborders">
            <div class="border-control-heading">
                <h4><%=borderType.label %></h4>
                <span class="dashicons dashicons-arrow-down-alt2"></span>
            </div>
            <div class="border-control-contents">
                <%=controls[borderType.name].borderTypeControl %>
                <%=controls[borderType.name].borderColor %>
                <%=controls[borderType.name].borderSlider %>
            </div>
        </div>
    <% } ); %>
</div>
