.elementor-container mark.mark_counter,
.elementor-inner mark.mark_counter,
.ct-component mark.mark_counter,
.et_pb_row mark.mark_counter,
.container mark.mark_counter,
.thrv_wrapper mark.mark_counter,
.znpb-element__wrapper mark.mark_counter,
.wpb_wrapper mark.mark_counter,
body.fl-builder #content mark.mark_counter
{
    background: #FDFFC7 !important;
    color: #383838 !important;
    padding: 0 5px;
    display: block !important;
}

.elementor-container mark.mark_counter:after,
.elementor-inner mark.mark_counter:after,
.ct-component mark.mark_counter:after,
.et_pb_row mark.mark_counter:after,
.container mark.mark_counter:after,
.thrv_wrapper mark.mark_counter:after,
.znpb-element__wrapper mark.mark_counter:after,
.wpb_wrapper mark.mark_counter:after,
body.fl-builder #content mark.mark_counter:after
{
    content: attr(data-cnt) !important;
    color: gray;
    font-size: 70%;
    line-height: 50%;
    vertical-align: baseline;
    position: relative;
    top: -9px;
}

.elementor-container .sq_highlight .sq_highlight_cnt,
.elementor-container mark.mark_counter,
.elementor-inner mark.mark_counter,
.ct-component mark.mark_counter,
.et_pb_row mark.mark_counter,
.container mark.mark_counter,
.thrv_wrapper mark.mark_counter,
.znpb-element__wrapper mark.mark_counter,
.wpb_wrapper mark.mark_counter,
body.fl-builder #content mark.mark_counter
{
    display: initial !important;
}